<footer id="footer">
  <div class="container">
    <div class="footerdiv1">
      <h3>Contact Us</h3>
      <ul>
        <li>
          <i class="fa-solid fa-phone"> </i>
          <a href="tel:+995555443322">+995 555 44 33 22</a>
        </li>
        <li>
          <i class="fa-regular fa-envelope"></i>
          <a href="mailto:Thebookshelf@gmail.com">Thebookshelf@gmail.com</a>
        </li>
        <li>
          <i class="fa-solid fa-location-dot"></i>
          <a
            href="https://www.google.com/maps/place/Marjanishvili/@41.7099505,44.7958734,18z/data=!4m17!1m10!3m9!1s0x40440d27df42c23d:0x5824d566c7797875!2sMarjanishvili+Central!5m2!4m1!1i2!8m2!3d41.7104791!4d44.7963562!16s%2Fg%2F11dfgrfyvg!3m5!1s0x40440d27c088e619:0x85df45e4dde9bf15!8m2!3d41.7098214!4d44.7975361!16s%2Fm%2F0gtwgb0?entry=ttu"
          >
            Kote Marjanishvili St, Tbilisi</a
          >
        </li>
      </ul>
      <div class="footericons">
        <a href="https://www.tbceducation.ge/">
          <img src="images/tbc-logo.png" alt="TBC logo" width="50px" />
        </a>
        <a href="https://www.facebook.com/"
          ><i class="fa-brands fa-facebook"></i
        ></a>
        <a href="https://www.instagram.com/"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a href="https://x.com/?lang=en&mx=2"
          ><i class="fa-brands fa-x-twitter"></i
        ></a>
      </div>
    </div>
    <div class="footerdiv2">
      <h3>Navigation</h3>
      <div class="footericons2">
        <a href="#">
          <i class="fa-solid fa-house"></i>
          <h6>Home</h6>
        </a>
        <a href="pages/books.html">
          <i class="fa-solid fa-book"></i>
          <h6>Shop Books</h6>
        </a>
        <a href="#about">
          <i class="fa-solid fa-circle-exclamation"></i>
          <h6>About Us</h6>
        </a>
      </div>
    </div>
  </div>
</footer>
