<header>
  <div class="container">
    <div class="pcnav">
      <a href="#" class="logo">
        <i class="fa-solid fa-book"></i>
        <h3>THE BOOKSHELF</h3>
      </a>
      <nav>
        <ul class="ul">
          <li><a href="/">Home</a></li>
          <li><a href="/books">Books</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#footer">Contact Us</a></li>
        </ul>
      </nav>
      <div class="nav-wrapper">
        <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="#"><i class="fa-solid fa-cart-shopping icon23"></i></a>
        <!-- <a href="user.html"><i class="fa-solid fa-user icon23"></i></a> -->
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa-solid fa-bars"></i>
        </a>
        <div class="reg">
          <a href="">
            <div class="login"><h5>Log In</h5></div>
          </a>
          <a href="">
            <div class="register"><h5>Sign Up</h5></div>
          </a>
        </div>
      </div>
    </div>
    <nav id="ul">
      <ul class="ul">
        <li><a href="/">Home</a></li>
        <li><a href="/books">Books</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#footer">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</header>
