<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.cdnfonts.com/css/copperplate-gothic-light"
      rel="stylesheet"
    />
    <link
      href="https://db.onlinewebfonts.com/c/01661f50354ecd0a3560ac450ecf43d3?family=Bell+MT+Regular"
      rel="stylesheet"
    />
    <link href="https://fonts.cdnfonts.com/css/arial-2" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/041121a16a.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../css/global.css" />
    <title>User Persona</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="pcnav">
          <a href="../index.html" class="logo">
            <i class="fa-solid fa-book"></i>
            <h3>THE BOOKSHELF</h3>
          </a>
          <nav>
            <ul class="ul">
              <li><a href="../index.html">Home</a></li>
              <li><a href="books.html">Books</a></li>
              <li><a href="../index.html#about">About Us</a></li>
              <li><a href="#footer">Contact Us</a></li>
            </ul>
          </nav>
          <div class="iconsdiv">
            <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            <a href="#"><i class="fa-solid fa-cart-shopping icon23"></i></a>
            <a href="user.html"><i class="fa-solid fa-user icon23"></i></a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa-solid fa-bars"></i>
            </a>
          </div>
        </div>
        <nav id="ul">
          <ul class="ul">
            <li><a href="../index.html">Home</a></li>
            <li><a href="books.html">Books</a></li>
            <li><a href="../index.html#about">About Us</a></li>
            <li><a href="#footer">Contact Us</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="user-s-1">
      <div class="container">
        <div class="userdiv1">
          <div class="profile">
            <div class="person">
              <h2>Mariam Sabelashvili</h2>
              <img src="../images/profilepic.png" alt="Profile Picture" />
            </div>
            <div class="edit"></div>
            <div class="personinfodiv">
              <div class="personinfo">
                <div class="info1">
                  <h3>Edit Profile</h3>
                  <h5>FOLLOWERS</h5>
                  <h5>FOLLOWING</h5>
                  <h5>AGE</h5>
                  <h5>EDUCATION</h5>
                  <h5>STATUS</h5>
                  <h5>OCCUPATION</h5>
                  <h5>LOCATION</h5>
                </div>
                <div class="info2">
                  <h3>Share Profile</h3>
                  <h5>1.2K</h5>
                  <h5>312</h5>
                  <h5>21</h5>
                  <h5>Social Studies</h5>
                  <h5>In a Relationship</h5>
                  <h5>Not Employed</h5>
                  <h5>Tbilisi, Georgia</h5>
                </div>
              </div>
              <div class="personality">
                <h3>Personality</h3>
                <div class="persdiv">
                  <div class="per">
                    <h5>Introvert</h5>
                  </div>
                  <div class="per">
                    <h5>Debater</h5>
                  </div>
                  <div class="per">
                    <h5>Leader</h5>
                  </div>
                  <div class="per">
                    <h5>Reader</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="quote">
            <i class="fa-solid fa-quote-left"></i>
            <p>
              Some books are so familiar that reading them is like being home
              again
            </p>
          </div>
        </div>
        <div class="userdiv2">
          <div class="personality1">
            <h3>Personality</h3>
            <div class="persdiv">
              <div class="per">
                <h5>Introvert</h5>
              </div>
              <div class="per">
                <h5>Debater</h5>
              </div>
              <div class="per">
                <h5>Leader</h5>
              </div>
              <div class="per">
                <h5>Reader</h5>
              </div>
            </div>
          </div>
          <div class="bio">
            <h3>BIO</h3>
            <p>
              I love reading books. Especially, Haruki Murakami and his
              Norwegian Wood. I am a future social worker. So besides novels I
              often read books on psychology and often have a problem finding
              the books I need. Before reading the book, for me important part
              is friends’ opinion about the novel, the writer and sometimes size
              of the book.
            </p>
          </div>
          <div class="liked">
            <div class="likedtitle">
              <div class="heart">
                <i class="fa-solid fa-heart"></i>
                <h3>Liked Books (13)</h3>
              </div>
              <a href="#">See All Books</a>
            </div>
            <div class="likedbooks">
              <img src="../images/bests2.jpg" alt="Jane Eyre" />
              <img
                src="../images/bests6.jpg"
                alt="Martin Eden"
                class="martin"
              />
              <img src="../images/bests7.jpg" alt="Little Women" />
              <img src="../images/wood.jpg" alt="Norwegian Wood" class="wood" />
              <img
                src="../images/bests3.jpg"
                alt="Harry Potter and the sorcerers stone"
                class="hp"
              />
              <a href="#">
                <div class="seeall"><h4>See All 13 Books</h4></div>
              </a>
            </div>
          </div>
          <div class="personality">
            <h3>Personality</h3>
            <div class="persdiv">
              <div class="per">
                <h5>Introvert</h5>
              </div>
              <div class="per">
                <h5>Debater</h5>
              </div>
              <div class="per">
                <h5>Leader</h5>
              </div>
              <div class="per">
                <h5>Reader</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer id="footer">
      <div class="container">
        <div class="footerdiv1">
          <h3>Contact Us</h3>
          <ul>
            <li>
              <i class="fa-solid fa-phone"> </i>
              <a href="tel:+995555443322">+995 555 44 33 22</a>
            </li>
            <li>
              <i class="fa-regular fa-envelope"></i>
              <a href="mailto:Thebookshelf@gmail.com">Thebookshelf@gmail.com</a>
            </li>
            <li>
              <i class="fa-solid fa-location-dot"></i>
              <a
                href="https://www.google.com/maps/place/Marjanishvili/@41.7099505,44.7958734,18z/data=!4m17!1m10!3m9!1s0x40440d27df42c23d:0x5824d566c7797875!2sMarjanishvili+Central!5m2!4m1!1i2!8m2!3d41.7104791!4d44.7963562!16s%2Fg%2F11dfgrfyvg!3m5!1s0x40440d27c088e619:0x85df45e4dde9bf15!8m2!3d41.7098214!4d44.7975361!16s%2Fm%2F0gtwgb0?entry=ttu"
              >
                Kote Marjanishvili St, Tbilisi</a
              >
            </li>
          </ul>
          <div class="footericons">
            <a href="https://www.tbceducation.ge/">
              <img src="../images/tbc-logo.png" alt="TBC logo" width="50px" />
            </a>
            <a href="https://www.facebook.com/"
              ><i class="fa-brands fa-facebook"></i
            ></a>
            <a href="https://www.instagram.com/"
              ><i class="fa-brands fa-instagram"></i
            ></a>
            <a href="https://x.com/?lang=en&mx=2"
              ><i class="fa-brands fa-x-twitter"></i
            ></a>
          </div>
        </div>
        <div class="footerdiv2">
          <h3>Navigation</h3>
          <div class="footericons2">
            <a href="../index.html">
              <i class="fa-solid fa-house"></i>
              <h6>Home</h6>
            </a>
            <a href="books.html">
              <i class="fa-solid fa-book"></i>
              <h6>Shop Books</h6>
            </a>
            <a href="../index.html#about">
              <i class="fa-solid fa-circle-exclamation"></i>
              <h6>About Us</h6>
            </a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
