$main-font: "Bell MT Regular";
$header-font: "Copperplate Gothic Light";
$main-color: #291c0e;
$primary: #a78d78;
$secondary: #6e473b;
$hover: #836e60;
$hover2: #695a50;
$hover3: #c4af9f;
$titles-color: #472d1c;
$border-color: #cbb294;
$footer-border: #65503c;
$header-background: #a78d78 ;
$background-color: #e1d4c2;
$user-background: #88776a;
$user-second-color: #fff;
